body{

  background-color:#d3cdcd;
 margin-left: 200px;
 margin-right: 200px;
    
}
header{

      
    padding: 3px;text-align: center;
    
}
h1{
    color:red;
   

}
nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
}

main{
  
     padding: 3px; 
    
}


footer{
    border: 2px dotted rgb(156, 153, 153);
    padding: 50px;text-align: center;
    background-color:lightskyblue;
font-size: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(31, 30, 30);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:black;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}